
<section id="call-to-action">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="block">
                  <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT DO YOU THINK ?
                      </h1>
                      <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Impressed or in need of any clarification? Feel free to contact me by pressing the below button or via my social handles below.</p>
                      <a href="mailto:salemowino28@gmail.com?Subject=Hello%Salem" target="_top" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                          data-wow-duration="500ms">Contact Me</a>
              </div>
          </div>

      </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
      <div class="col-md-8">
          <p class="copyright">&copy; <span>
                  <script>document.write(new Date().getFullYear())</script></span> Salem's Portfolio.
          </p>
      </div>
      <div class="col-md-4">
          <!-- Social Media -->
          <ul class="social">
              <li>
                  <a href="https://github.com/saa-lem" class="Github">
                      <i class="ion-social-github"></i>
                  </a> 
              </li>        
          </ul>
      </div>
  </div>
</footer>