{% load static %}
<header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->
  
        <!-- logo -->
        <div class="navbar-brand">
          <a href="/">
            <img src="{% static 'images/logo.jpg' %}" alt="" class="img-responsive" height="50">
          </a>
        </div>
        <!-- /logo -->
      </div>
      <!-- main menu -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <div class="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li><a href="{% url 'home' %}#about" data-section="#about">About</a></li>
            <li><a href="{% url 'home' %}#works" data-section="#works">Work</a></li>
            <li><a href="{% url 'home' %}#feature" data-section="#feature">Services</a></li>
            <li><a href="{% url 'home' %}#call-to-action" data-section="#call-to-action">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- /main nav -->
    </div>
  </header>